page-home-pessoa {
    ion-searchbar {
        .label {
            padding: 0;
            margin: 0;
        }
    }
    .flex-box {
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .container {
        // box-shadow: 0 14px 26px rgba(0, 0, 0, 0.11);
        margin: 7px;
        // width: 150px;
        width: calc(calc(100% / 2) - 14px);
        height: 200px;
        position: relative;
        perspective: 800px;
        border-radius: 10px;
        .card {
            width: 100%;
            height: 100%;
            position: absolute;
            transform-style: preserve-3d;
            transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            border-radius: 10px;
            background-color: $tema;
            &.flipped {
                transform: rotateY(180deg);
            }
        }
        .slides {
            padding: 3px;
            border-radius: 10px;
        }
        .swiper-container {
            border-radius: 10px;
        }
        .swiper-slide {
            .img-catalogo {
                object-fit: cover;
                height: 21rem;
                width: calc(100%);
            }
            border-radius: 6px;
        }
        .card,
        .front,
        .back {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background: #fff;
        }
        .front {
            backface-visibility: hidden;
        }
        .back {
            display: none;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            .informacoes {
                position: absolute;
                top: 2.7rem;
                left: 10%;
                width: 80%;
                margin: 0 auto;
                .label,
                .item,
                .item-inner {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    margin-right: 0 !important;
                    margin-left: 0 !important;
                }
                img {
                    height: 65px;
                    width: 65px;
                    margin: 0 auto;
                    display: block;
                    border-radius: 100%;
                    border: 2px solid #f2f4f8;
                    // box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
                }
                h6 {
                    margin-bottom: 4px;
                    margin-top: 7px;
                }
                p {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }
            .header {
                p {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                position: absolute;
                top: 0.1em;
                width: 100%;
                text-align: center;
                .p-distancia {
                    font-weight: 600;
                    color: $azul;
                }
            }
            .footer {
                color: $tema;
                position: absolute;
                bottom: 0.3em;
                width: 100%;
                text-align: center;
                font-size: 2rem;
            }
        }
    }
    %flex-display {
        display: flex;
    }
    .star-rating {
        @extend %flex-display;
        align-items: center;
        font-size: 1.2rem;
        justify-content: center;
    }
    .back-stars {
        @extend %flex-display;
        color: #d8d8d8;
        position: relative;
    }
    .front-stars {
        @extend %flex-display;
        color: #FFBC0B;
        overflow: hidden;
        position: absolute;
        top: 0;
    }
}