page-home-pessoa {
    ion-searchbar {
        .label {
            padding: 0;
            margin: 0;
        }
    }
    .flex-box {
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .container {
        box-shadow: 0 14px 26px rgba(0, 0, 0, 0.11);
        margin: 7px;
        // width: 150px;
        width: calc(calc(100% / 2) - 14px);
        height: 200px;
        position: relative;
        perspective: 800px;
        border-radius: 10px;
        .card {
            width: 100%;
            height: 100%;
            position: absolute;
            transform-style: preserve-3d;
            transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            border-radius: 10px;
            background-color: $tema;
            &.flipped {
                transform: rotateY(180deg);
            }
        }
        .slides {
            padding: 3px;
            border-radius: 10px;
        }
        .swiper-slide {
            img {
                object-fit: cover;
                height: 21rem;
                width: calc(100%);
            }
            border-radius: 6px;
        }
        .card,
        .front,
        .back {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background: #fff;
        }
        .front {
            backface-visibility: hidden;
        }
        .back {
            display: none;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            .informacoes {
                position: absolute;
                top: 1em;
                left: 10%;
                width: 80%;
                margin: 0 auto;
                img {
                    height: 65px;
                    width: 65px;
                    margin: 0 auto;
                    display: block;
                    border-radius: 100%;
                    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
                }
                h1 {
                    font-family: 'Titillium Web', sans-serif !important;
                    font-weight: 700;
                    font-size: 2rem;
                    margin: 0;
                    padding-top: 10px;
                }
                h1,
                p {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                    overflow: hidden;
                }
                ion-row {
                    color: $tema;
                }
            }
        }
    }
}