page-home-pessoa {
    .estrela-nota {
        display: inline-flex;
        img {
            height: 1em;
        }
        p {
            margin: 2px 4px 0 0;
            color: #FFE800;
            font-weight: 500;
        }
    }
    .avatar {
        img {
            height: 60px;
            width: 60px;
            border-radius: 5px;
            // box-shadow: 1px 1px 4px 2px rgb(228, 228, 228);
        }
    }
}