<ion-header>
    <ion-navbar>
        <ion-item no-lines *ngIf="pessoa && !mostrarPesquisa">
            <ion-avatar item-start (click)="mostrePerfilPessoaModal()">
                <img onerror="this.src='https://png.pngtree.com/svg/20170602/person_1058425.png'" src="{{pessoaProvider.obtenhaFotoPessoa(pessoa.IdPessoa)}}" alt="">
            </ion-avatar>
            <ion-title (click)="mostrePerfilPessoaModal()">Olá, {{pessoa.Nome | SplitPrimeiro}}</ion-title>
            <ion-icon *ngIf="!mostrarPesquisa" item-end name="search" (click)="mostrarPesquisa = true">
            </ion-icon>
        </ion-item>
        <ion-item no-lines *ngIf="mostrarPesquisa">
            <ion-searchbar placeholder="Pesquisa" type="search" [(ngModel)]="inputPesquisa" (ionInput)="pesquise()">
            </ion-searchbar>
        </ion-item>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="flex-box">
        <div class="container" *ngFor="let empresa of pessoaEmpresasLimit">
            <div class="card" [id]="empresa.Empresa.IdEmpresa">
                <div class="front" [id]="'front' + empresa.Empresa.IdEmpresa" (click)="vireOCard(empresa.Empresa.IdEmpresa)">
                    <ion-slides color="tema" autoplay="4000" speed="2000" effect="fade" loop="true" pager="true">
                        <ion-slide *ngFor="let imagemCatalogo of empresa.Catalogo">
                            <img [src]="empresaLojaProvider.obtenhaImagemCatalogo(imagemCatalogo.IdImagem)" alt="">
                        </ion-slide>
                    </ion-slides>
                </div>
                <div class="back" [id]="'back' + empresa.Empresa.IdEmpresa">
                    <div class="informacoes" text-center>
                        <img (click)="abraPerfilEmpresa(empresa)" [src]="empresaProvider.obtenhaLogoEmpresa(empresa.Empresa.IdEmpresa)" alt="">
                        <h1 (click)="abraPerfilEmpresa(empresa)">{{empresa.Empresa.Nome}}</h1>
                        <p (click)="abraPerfilEmpresa(empresa)">{{empresa.Perfil.Descricao}}</p>
                        <ion-row>
                            <ion-col color="tema" (click)="vireOCard(empresa.Empresa.IdEmpresa)">
                                Girar
                            </ion-col>

                            <ion-col (click)="abraModalCatalogo(empresa)">
                                Galeria
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>