<ion-header>
    <ion-navbar>
        <ion-title *ngIf="dadosEmpresa">
            <img class="avatar-header" [src]="obtenhaLogo()" onerror="this.src='./assets/imgs/camera.svg'">{{dadosEmpresa.Empresa.Nome}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines *ngIf="!estaCarregando">
        <div class="item-customizado" *ngFor="let item of vendasAdminLoja">
            <ion-item>
                <h2>{{item.NomeLoja}}</h2>
                <p>{{item.Venda.Data | Data}}</p>
                <p class="venda-valor" item-end>
                    <ion-icon name="logo-usd"></ion-icon>
                    {{item.Venda.Valor}}
                </p>
            </ion-item>
        </div>
    </ion-list>

    <lista-vazia *ngIf="!estaCarregando && vendasAdminLoja && (vendasAdminLoja.length == 0)">

    </lista-vazia>
</ion-content>