<ion-header>

    <ion-navbar>
        <ion-title>Cadastro de perfil</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-label fixed>Nome</ion-label>
            <ion-input type="text" [(ngModel)]="perfil.Descricao"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Telefone</ion-label>
            <ion-input type="tel" [(ngModel)]="perfil.Telefone"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Telefone Secundário</ion-label>
            <ion-input type="tel" [(ngModel)]="perfil.Telefone2"></ion-input>
        </ion-item>
    </ion-list>

    <button ion-button (click)="selecioneLocalizacao()">Localizacao</button>


    <input type="file" #fileInput style="visibility: hidden; height: 0px" accept="image/*" (change)="aoEscolherImagem($event)">

    <button ion-button (click)="selecioneImagem()"> add imagem catalogo</button>
    <ion-slides #slides pager="true">
        <ion-slide *ngFor="let imagemCatalogo of perfil.Catalogo;let i = index">
            <div *ngIf="!imagemCatalogo.Imagem" class="imagem" [style.background-image]="'url(' + empresaLojaProvider.obtenhaImagemCatalogo(imagemCatalogo.IdImagem) + ')'"></div>
            <div *ngIf="imagemCatalogo.Imagem" class="imagem" [style.background-image]="'url(data:image/jpg;base64,' + imagemCatalogo.Imagem + ')'"></div>
            <div class="botoes">
                <button ion-button (click)="removaImagem(i)"> Remover</button>
            </div>
        </ion-slide>
    </ion-slides>

    <button ion-button full (click)="salvar()">
        Salvar
    </button>
</ion-content>