<ion-content>
    <ion-slides *ngIf="empresa" color="tema" autoplay="4000" speed="2000" effect="slide" loop="true" paginationType="fraction" pager="true">
        <ion-slide *ngFor="let imagemCatalogo of empresa.Catalogo">
            <img class="imagem-catalogo" [src]="empresaLojaProvider.obtenhaImagemCatalogo(imagemCatalogo.GuidImagem)" alt="">
        </ion-slide>
    </ion-slides>
    <ion-fab left bottom>
        <button ion-fab (click)="voltar()">             
                 <ion-icon name="arrow-back"></ion-icon>
                  </button>

    </ion-fab>
    <ion-fab right bottom>
        <button color="primary" ion-fab [disabled]="!compartilharHabilitado" (click)="compartilhe()">
                     <ion-icon name="contacts"></ion-icon>
                      </button>
    </ion-fab>
</ion-content>