page-catalogo-component {
    .content {
        overflow: hidden;
        background-color: black;
    }
    .imagem-catalogo {
        object-fit: contain;
        object-position: center;
        overflow: hidden;
        height: auto;
        width: auto;
        overflow: auto;
    }
}