<ion-content>

    <input type="file" #fileInput style="visibility: hidden; height: 0px" accept="image/*" (change)="aoEscolherImagem($event)">

    <ion-slides pager="true">
        <ion-slide *ngFor="let imagemCatalogo of imagensCatalogo">
            <img *ngIf="!imagemCatalogo.Imagem" src="{{empresaProvider.obtenhaImagemCatalogo(imagemCatalogo.IdImagem)}}" alt="">
            <img *ngIf="imagemCatalogo.Imagem" src="data:image/jpg;base64,{{imagemCatalogo.Imagem}}" alt="">
        </ion-slide>
    </ion-slides>

    <button ion-button (click)="selecioneImagem()"> add imagem catalogo</button>
    <button ion-button (click)="salveImagensCatalogo()"> Salvar</button>

</ion-content>