<ion-header>
    <ion-navbar>
        <ion-title>
            {{dadosPessoaEmpresa.Empresa.Nome}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-fab top right edge>
        <button ion-fab mini (click)="abraPopoverCatalogo($event)"><ion-icon name="images"></ion-icon></button>
    </ion-fab>

    <ion-list>

        <ion-item no-lines class="item-info">
            <ion-avatar item-start>
                <img class="logo" src="{{empresaProvider.obtenhaLogoEmpresa(dadosPessoaEmpresa.Empresa.IdEmpresa)}}" alt="">
            </ion-avatar>
            <h2>{{dadosPessoaEmpresa.Perfil.Descricao}}</h2>
            <p>Trade: {{dadosPessoaEmpresa.Conta.ValorPontos}}</p>
            <p class="estrela-nota" *ngIf="dadosPessoaEmpresa.NotaGeral"><img src="./assets/svg/estrela.svg" alt=""> {{dadosPessoaEmpresa.NotaGeral}}</p>

        </ion-item>

        <button class="botao-bool" (click)="verMaisInformacoes = true" ion-item clear full *ngIf="!verMaisInformacoes"> Ver mais
                </button>

        <div *ngIf="verMaisInformacoes">
            <ion-item class="item-info" no-lines>
                <p>
                    <ion-icon name="call"></ion-icon>{{dadosPessoaEmpresa.Perfil.Telefone}}</p>
                <p *ngIf="dadosPessoaEmpresa.Perfil.Telefone2">
                    <ion-icon name="call"></ion-icon>
                    {{dadosPessoaEmpresa.Perfil.Telefone2}}</p>
                <p>
                    <ion-icon name="paper"></ion-icon>
                    {{dadosPessoaEmpresa.Conta.Resumo}}</p>
            </ion-item>
            <button class="botao-bool" (click)="verMaisInformacoes = false" ion-item clear full *ngIf="verMaisInformacoes"> Ver menos
                                                    </button>
        </div>
    </ion-list>

    <ion-list no-lines>
        <ion-item-divider> Minha avaliação
        </ion-item-divider>

        <ion-item class="minha-avaliacao" *ngIf="!avaliando && dadosPessoaEmpresa.PessoaEmpresa.Comentario">
            <p>Comentario: {{dadosPessoaEmpresa.PessoaEmpresa.Comentario}}</p>
            <p class="estrela-nota-avaliacao" *ngIf="dadosPessoaEmpresa.PessoaEmpresa.Nota">Nota: <img src="./assets/svg/estrela.svg" alt=""> {{dadosPessoaEmpresa.PessoaEmpresa.Nota}}</p>
            <button ion-button clear item-end (click)="avaliando = true">   
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-item>

        <div *ngIf="avaliando">
            <ion-item>
                <ion-label>
                    <ion-icon name="star"></ion-icon>
                </ion-label>
                <ion-input type="number" [(ngModel)]="dadosPessoaEmpresa.PessoaEmpresa.Nota" placeholder="0 a 5"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>
                    <ion-icon name="paper"></ion-icon>
                </ion-label>
                <ion-textarea rows="2" [(ngModel)]="dadosPessoaEmpresa.PessoaEmpresa.Comentario" placeholder="Comentário"></ion-textarea>
            </ion-item>
        </div>

        <button class="botao-bool" (click)="avaliando = true" ion-item clear full *ngIf="!avaliando && !dadosPessoaEmpresa.PessoaEmpresa.Comentario"> Avaliar
                </button>
        <button class="botao-bool" (click)="atualizeDadosPessoaEmpresa(); avaliando = false" ion-item clear full *ngIf="avaliando"> Salvar
                </button>
    </ion-list>

    <ion-list *ngIf="notasComentariosPessoasEmpresas && notasComentariosPessoasEmpresas.length > 0">
        <ion-item-divider> Avaliações
        </ion-item-divider>
        <ion-item *ngFor="let notaComentarios of notasComentariosPessoasEmpresas">
            <ion-avatar item-start>
                <img [src]="pessoaProvider.obtenhaFotoPessoa(notaComentarios.IdPessoa)">
            </ion-avatar>
            <h2>{{notaComentarios.Nome}}</h2>
            <p>{{notaComentarios.Comentario}}</p>
            <p class="estrela-nota-avaliacao" *ngIf="notaComentarios.Nota"><img src="./assets/svg/estrela.svg" alt=""> {{notaComentarios.Nota}}</p>
            <p item-end>{{notaComentarios.DataAvaliacao | Data}}</p>
        </ion-item>
    </ion-list>


    <ion-fab bottom right>
        <button ion-fab><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab *ngIf="podeCompartilhar" (click)="compartilhe()">  <ion-icon name="md-share"></ion-icon>
            </button>
            <button ion-fab *ngIf="!podeCompartilhar" (click)="mostreNaoPodeCompartilhar()">  <ion-icon name="md-share"></ion-icon>
            </button>
            <button ion-fab (click)="rota()">  <ion-icon name="navigate"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>