page-perfil-empresa {
    .logo {
        background-color: white;
        img {
            border: 1px solid rgb(235, 235, 235);
            display: block;
            margin: 0 auto;
            height: 80px;
            border-radius: 100%;
        }
    }
    ion-slides {
        background-color: black;
        max-height: calc(100% - 34px);
    }
    .estrela-nota {
        img {
            height: 14px;
        }
    }
    .estrela-nota-avaliacao {
        img {
            height: 12px;
        }
    }
}