<ion-header>
    <ion-navbar>
        <ion-title>
            {{dadosPessoaEmpresa.Empresa.Nome}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-fab top right edge>
        <button ion-fab mini (click)="abraModalCatalogo($event)"><ion-icon name="images"></ion-icon></button>
    </ion-fab>

    <ion-list>

        <ion-item no-lines class="item-info">
            <ion-avatar item-start>
                <img class="logo" src="{{empresaProvider.obtenhaLogoEmpresa(dadosPessoaEmpresa.Empresa.IdEmpresa)}}" alt="">
            </ion-avatar>
            <h2>{{dadosPessoaEmpresa.Perfil.Descricao}}</h2>
            <p class="estrela-nota" *ngIf="dadosPessoaEmpresa.NotaGeral"><img *ngFor="let i of obtenhaArrayNota(dadosPessoaEmpresa.NotaGeral)" src="./assets/svg/estrela.svg" alt=""> </p>
            <p>{{dadosPessoaEmpresa.Conta.Resumo}}</p>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item-divider> Minha avaliação
        </ion-item-divider>

        <ion-item class="minha-avaliacao" *ngIf="dadosPessoaEmpresa.PessoaEmpresa.Comentario">
            <p>Comentario: {{dadosPessoaEmpresa.PessoaEmpresa.Comentario}}</p>
            <p>Nota: {{dadosPessoaEmpresa.PessoaEmpresa.Nota}}</p>
            <button ion-button clear item-end (click)="abraPopOverAvaliacao($event)">   
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-item>

        <button class="botao-avaliar" ion-item clear full *ngIf="!dadosPessoaEmpresa.PessoaEmpresa.Comentario"> Avaliar
                </button>
    </ion-list>

    <ion-list *ngIf="notasComentariosPessoasEmpresas && notasComentariosPessoasEmpresas.length > 0">
        <ion-item-divider> Avaliações
        </ion-item-divider>
        <ion-item *ngFor="let notaComentarios of notasComentariosPessoasEmpresas">
            <ion-avatar item-start>
                <img [src]="pessoaProvider.obtenhaFotoPessoa(notaComentarios.IdPessoa)">
            </ion-avatar>
            <h2>{{notaComentarios.Nome}}</h2>
            <p>{{notaComentarios.Comentario}}</p>
            <p class="estrela-nota-avaliacao" *ngIf="notaComentarios.Nota"><img *ngFor="let i of obtenhaArrayNota(notaComentarios.Nota)" src="./assets/svg/estrela.svg" alt=""> </p>
            <p item-end>{{notaComentarios.DataAvaliacao | Data}}</p>
        </ion-item>
    </ion-list>


    <ion-fab bottom right>
        <button ion-fab><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab *ngIf="podeCompartilhar" (click)="compartilhe()">  <ion-icon name="share-alt"></ion-icon>
            </button>
            <button ion-fab *ngIf="!podeCompartilhar" (click)="mostreNaoPodeCompartilhar()">  <ion-icon name="share-alt"></ion-icon>
            </button>
            <button ion-fab (click)="rota()">  <ion-icon name="navigate"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>