page-perfil-empresa {
    // $gradient: linear-gradient(to bottom right, #5E5AEC, #3F9EFC);
    // $shadow: 0 13px 26px rgba(#000, .2), 0 3px 6px rgba(#000, .2);
    .profile {
        .thumbnail {
            width: 124px;
            height: 124px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            border-radius: 100%;
            border: 2px solid #f2f4f8;
        }
        .name {
            color: #2D354A;
            font-size: 2.5rem;
            font-weight: 600;
            text-align: center;
        }
        .title {
            font-size: 1.8rem;
            font-weight: 300;
            text-align: center;
        }
        .description {
            font-size: 14px;
            font-weight: 300;
            text-align: center;
        }
        .avaliacao {
            text-align: center;
            color: yellow;
        }
    }
    .social-icons {
        display: flex;
        margin-top: 5px;
        margin-bottom: 0px;
        justify-content: center;
        .icon {
            display: flex;
            margin: 5px;
            align-items: center;
            flex-direction: column;
            background: $background;
            width: 60px;
            height: 60px;
            font-size: 3.5rem;
            line-height: 60px;
            text-align: center;
            border-radius: 30px;
            // box-shadow: $shadow;
            border: 2px solid #f2f4f8;
            i {
                padding-top: 1.2rem;
            }
            .fa-clipboard-list {
                color: rgb(117, 53, 0);
            }
            .fa-map-marker-alt {
                color: rgb(253, 39, 39);
            }
            .fa-images {
                color: rgb(54, 181, 240);
            }
            .fa-grin {
                color: rgb(255, 218, 11);
            }
        }
    }
    %flex-display {
        display: flex;
    }
    .star-rating {
        @extend %flex-display;
        align-items: center;
        font-size: 1.2rem;
        justify-content: center;
    }
    .back-stars {
        @extend %flex-display;
        color: #d8d8d8;
        position: relative;
    }
    .front-stars {
        @extend %flex-display;
        color: #FFBC0B;
        overflow: hidden;
        position: absolute;
        top: 0;
    }
    .p-datacomentario {
        margin-top: 5px;
    }
}