page-perfil-empresa {
    .logo {
        width: 80px !important;
        height: 80px !important;
        border-radius: 6px !important;
    }
    .minha-avaliacao {
        ion-icon {
            font-size: 2.2rem !important;
        }
    }
    .estrela-nota {
        img {
            height: 14px;
        }
    }
    .estrela-nota-avaliacao {
        img {
            height: 12px;
        }
    }
    .item-info {
        p,
        h2 {
            ion-icon {
                margin-right: 7px !important;
            }
        }
        .label {
            white-space: unset;
        }
        h2 {
            font-size: 2rem;
        }
    }
    .list {
        box-shadow: 0 2px 2px 0 rgba(150, 150, 150, 0.14), 0 3px 1px -2px rgba(150, 150, 150, 0.2), 0 1px 5px 0 rgba(150, 150, 150, 0.12);
        margin: -1px 0 15px;
    }
    .botao-bool {
        color: $tema;
        text-align: center;
    }
    button {
        .label {
            font-size: 1.4rem !important;
            color: $tema;
        }
    }
}