page-codigo-cupom-pessoa {
    @media screen and (max-height: 500px) {
        img {
            display: none;
        }
    }
    @media screen and (min-height: 700px) {
        .card-custom {
            margin-top: 30%;
        }
    }
    img {
        margin: 0 auto;
        display: block;
        max-height: 80px;
        margin-top: 20px;
    }
    height: calc(100% - 24px);
}