page-codigo-cupom-pessoa {
    .content {
        background-color: white;
    }
    .img-codigo {
        margin: 0 auto;
        display: block;
        height: 100px;
    }
    h3 {
        margin-top: 20px;
    }
}