<ion-header>
    <ion-navbar>
        <ion-item no-lines>
            <ion-title>
                Carteira
            </ion-title>
            <!-- <ion-icon item-end name="search"></ion-icon> -->
        </ion-item>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-refresher (ionRefresh)="obtenhaDados($event)">
        <ion-refresher-content pullingIcon="refresh" pullingText="" refreshingSpinner="circles" refreshingText=""></ion-refresher-content>
    </ion-refresher>

    <ion-list no-lines *ngIf="!estaCarregando && pessoaLojas.length > 0">
        <div class="item-customizado" *ngFor="let pessoaLoja of pessoaLojas">
            <ion-item>
                <ion-avatar item-start>
                    <img [src]="obtenhaLogoEmpresa(pessoaLoja.Loja.IdEmpresa)">
                </ion-avatar>
                <h2>{{pessoaLoja.NomeEmpresa}}</h2>
                <div item-end>
                    <p class="venda-pontos">
                        Keshs {{pessoaLoja.Pontos}}
                    </p>
                    <p class="venda-valor">
                        R$ {{pessoaLoja.PontosEmDinheiro}}
                    </p>
                </div>
            </ion-item>
        </div>
    </ion-list>

    <lista-vazia *ngIf="!estaCarregando && pessoaLojas.length == 0">
    </lista-vazia>

    <carregando *ngIf="estaCarregando">
    </carregando>
</ion-content>