<ion-header>
    <ion-navbar>
        <ion-title *ngIf="dadosEmpresa">
            <img class="avatar-header" [src]="empresaProvider.obtenhaLogoEmpresa(dadosEmpresa.Empresa.IdEmpresa)"> {{dadosEmpresa.Perfil.Descricao}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content id="home-container" class="container">
    <ion-refresher (ionRefresh)="obtenhaCuponsEVendasComRefesh($event)">
        <ion-refresher-content pullingIcon="refresh" pullingText="" refreshingSpinner="circles" refreshingText=""></ion-refresher-content>
    </ion-refresher>


    <ion-list no-lines *ngIf="!estaCarregando && cuponsVendasAgrupados.length > 0">
        <div *ngFor="let cuponsEVendas of cuponsVendasAgrupados">
            <ion-item-divider> {{cuponsEVendas[0].Cupom.DataValidade | Data}}
            </ion-item-divider>
            <div class="item-customizado" *ngFor="let cupomevenda of cuponsEVendas">
                <ion-item>
                    <ion-avatar item-start>
                        <img onerror="this.src='https://png.pngtree.com/svg/20170602/person_1058425.png'" [src]="obtenhaFotoPessoa(cupomevenda.Venda.IdPessoa)">
                    </ion-avatar>
                    <h2>{{cupomevenda.NomePessoa}}</h2>
                    <p class="venda-valor" item-end>
                        <ion-icon name="logo-usd"></ion-icon>
                        {{cupomevenda.Venda.Valor}}
                    </p>
                    <p>
                        {{cupomevenda.Venda.Data | Data}}
                    </p>
                </ion-item>
            </div>
        </div>
    </ion-list>

    <ion-fab right bottom (click)="valideCupomVenda()">
        <button ion-fab>             
             <i class="fas fa-qrcode"></i>
              </button>
    </ion-fab>

    <lista-vazia *ngIf="!estaCarregando && cuponsVendasAgrupados && cuponsVendasAgrupados.length == 0">

    </lista-vazia>