page-qr-code-scanner {
    #container {
        width: 100vw;
        height: calc(100vh - 56px);
        background: none transparent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }
}