page-introducao {
    #selecao-tipo {
        height: 100vh;
        button {
            height: 50%;
            width: 100%;
            h1 {
                color: white;
            }
            img {
                height: 100px;
            }
        }
    }
}