page-transacoes {
    .scroll-content {
        padding: 5px;
    }
    .label {
        margin: 7px 8px 0 0;
    }
    .svg-qrcode {
        height: 35px;
    }
    .venda-valor {
        color: green;
    }
    .venda-pontos {
        color: $tema;
    }
    .cupom-data {
        color: rgb(98, 98, 100);
    }
}