<ion-header>
    <ion-navbar>
        <ion-item no-lines>
            <ion-title>
                Dinheiro
            </ion-title>
            <ion-icon item-end name="funnel"></ion-icon>
        </ion-item>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list class="lista" no-lines *ngIf="!estaCarregando && cuponsVendas.length > 0">
        <div class="item-customizado" *ngFor="let cupomVenda of cuponsVendas">
            <ion-item>
                <ion-avatar item-start>
                    <img [src]="obtenhaLogoEmpresa(cupomVenda.IdEmpresa)">
                </ion-avatar>
                <h2>{{cupomVenda.NomeEmpresa}}</h2>
                <p>{{cupomVenda.DescricaoPerfilEmpresa}}</p>

                <div item-end>
                    <p *ngIf="cupomVenda.Venda" class="venda-valor">
                        <ion-icon name="logo-usd"></ion-icon>
                        {{cupomVenda.Venda.Valor}}
                    </p>
                </div>

                <p *ngIf="cupomVenda.Venda">
                    {{cupomVenda.Venda.Data | Data}}
                </p>
                <p class="warning" *ngIf="!cupomVenda.Venda && !cupomVenda.Cupom.Expirado">
                    Expira em: {{cupomVenda.Cupom.DataValidade | Data}}
                </p>

                <p class="danger" *ngIf="!cupomVenda.Venda && cupomVenda.Cupom.Expirado">
                    Trade expirado
                </p>

                <img *ngIf="!cupomVenda.Venda && !cupomVenda.Cupom.Expirado" class="svg-qrcode" item-end src="https://image.flaticon.com/icons/svg/286/286003.svg" alt="" (click)="abraQrCode(cupomVenda)">
            </ion-item>

        </div>
    </ion-list>

    <lista-vazia *ngIf="!estaCarregando && cuponsVendas.length == 0">

    </lista-vazia>
</ion-content>