page-login-empresa {
    .form-login {
        height: 100%;
        width: 100%;
        position: relative;
        background-color: rgb(231, 231, 231);
        .box {
            background-color: white;
            position: absolute;
            top: 30%;
            left: 10%;
            width: 80%;
            padding: 10px;
            border-radius: 10px;
        }
    }
}