<ion-content>
    <div class="form-login" *ngIf="viewAtual == views[0]">
        <div class="box">
            <form (submit)="login()">
                <ion-list>
                    <ion-item>
                        <ion-label floating>
                            Email
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="usuario.Login" name="login"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>
                            Senha
                        </ion-label>
                        <ion-input type="password" [(ngModel)]="usuario.Senha" name="senha"></ion-input>
                    </ion-item>
                </ion-list>
            </form>
            <button class="botao" ion-button color="primary" full (click)="login()">Login</button>
            <button class="botao" ion-button color="primary" full (click)="abraCadastro()">Registrar</button>
            <p text-center>Esqueceu a senha?</p>
        </div>
    </div>


    <div *ngIf="viewAtual == views[1]">
        <div class="selecao-tipo">
            <button no-lines color="primary" ion-item text-center (click)="selecaoTipoAdmin()">
                                    <img onerror="this.src='https://png.pngtree.com/svg/20170602/person_1058425.png'" src="./assets/svg/pessoas.svg" alt="">
                                    <h1>Administrador</h1>
                                    </button>
            <button no-lines color="primary" ion-item text-center (click)="selecaoTipoLoja()">
                                    <img onerror="this.src='https://png.pngtree.com/svg/20170602/person_1058425.png'" src="./assets/svg/empresa.svg" alt="">
                                    <h1>Loja</h1>
                                </button>
        </div>
    </div>

    <div class="form-login" *ngIf="viewAtual == views[2]">
        <div class="box" text-center>
            <h3 class="titulo">
                Informe a senha de administrador
            </h3>
            <form (submit)="realizeLoginEmpresaAdmin()">
                <ion-list>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="lock"></ion-icon>
                        </ion-label>
                        <ion-input type="password" [(ngModel)]="usuario.Senha" name="senha"></ion-input>
                    </ion-item>
                </ion-list>
            </form>
            <button class="botao" ion-button color="primary" block (click)="realizeLoginEmpresaAdmin()">Entrar</button>
        </div>
    </div>

    <div *ngIf="viewAtual == views[3]">
        <ion-searchbar placeholder="Pesquisa" type="search" [(ngModel)]="inputPesquisaPerfisEmpresa" (ionInput)="onSearchPerfilEmpresa($event)">
        </ion-searchbar>
        <ion-list>
            <button ion-item *ngFor="let perfil of perfisEmpresa" (click)="selecaoIdPerfilEmpresa(perfil)">
                      <h2>{{perfil.Descricao}}</h2>
                    </button>
        </ion-list>
    </div>

    <ion-fab left bottom (click)="voltar()">
        <button ion-fab color="light">             
             <ion-icon name="arrow-back"></ion-icon>
              </button>
    </ion-fab>
</ion-content>