page-login-empresa {
    .form-login {
        height: 100%;
        width: 100%;
        position: relative;
        background-color: white;
        .box {
            position: absolute;
            background-color: transparent;
            top: 25%;
            left: 10%;
            width: 80%;
            padding: 10px;
            border-radius: 10px;
        }
    }
    .selecao-tipo {
        height: 100vh;
        button {
            height: 50%;
            width: 100%;
            h1 {
                color: white;
            }
            img {
                height: 100px;
            }
        }
    }
}