@media screen and (max-height: 500px) {
    .popover-avaliacao {
        .popover-content {
            top: 20px !important;
            height: 15rem;
            .titulo-nota {
                display: none;
            }
            .star-rating {
                display: none;
            }
        }
    }
}

avaliacao-loja {
    overflow: hidden;
    #textarea-comentario {
        font-size: 1.7rem;
        margin: 0px;
        padding: 0;
        width: 100%;
        background-color: #f9f9f9;
        border-radius: 4px;
    }
    %flex-display {
        display: flex;
    }
    .star-rating {
        margin-top: 2rem;
        @extend %flex-display;
        align-items: center;
        font-size: 2.6rem;
        justify-content: center;
    }
    .back-stars {
        @extend %flex-display;
        color: #d8d8d8;
        position: relative;
    }
    .front-stars {
        @extend %flex-display;
        color: #FFBC0B;
        overflow: hidden;
        position: absolute;
        top: 0;
    }
}