page-perfil-empresa-loja {
    ion-slides {
        // .botoes {}
        .imagem {
            height: 250px;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        max-height: 300px;
        max-width: 100%;
    }
}