page-perfil-empresa-loja {
    ion-row {
        .item-inner {
            background-image: none !important;
            padding-right: 0px !important;
        }
    }
    .fab ion-icon {
        font-size: 4rem !important;
    }
}