<ion-content>
    <div class="card-custom">
        <p class="titulo">Dados</p>
        <ion-list no-lines>
            <div class="item-customizado no-border">
                <ion-item>
                    <ion-label floating>Nome</ion-label>
                    <ion-input name="nome" type="text" [(ngModel)]="dadosEmpresa.Perfil.Descricao"></ion-input>
                </ion-item>
            </div>
            <div class="item-customizado no-border">
                <ion-item>
                    <ion-label floating>Telefone</ion-label>
                    <ion-input name="telefone" type="tel" [(ngModel)]="dadosEmpresa.Perfil.Telefone"></ion-input>
                </ion-item>
            </div>
            <div class="item-customizado no-border">
                <ion-item>
                    <ion-label floating>Telefone Secundário</ion-label>
                    <ion-input name="telefone2" type="tel" [(ngModel)]="dadosEmpresa.Perfil.Telefone2"></ion-input>
                </ion-item>
            </div>
            <div class="item-customizado no-border">
                <ion-item>
                    <ion-label floating>Localização</ion-label>
                    <ion-input type="number" disabled [(ngModel)]="dadosEmpresa.Perfil.Latitude"></ion-input>
                    <ion-input type="number" disabled [(ngModel)]="dadosEmpresa.Perfil.Longitude"></ion-input>
                    <button ion-button item-end (click)="selecioneLocalizacao()">Buscar</button>
                </ion-item>
            </div>
        </ion-list>
    </div>
    <div class="card-custom">
        <p class="titulo">Catálogo</p>
        <ion-row>
            <ion-col col-6>
                <div class="item-customizado">
                    <button no-lines ion-item (click)="removaImagem()"> 
                                            <ion-icon  color="tema" item-start name="trash"></ion-icon>Remover 
                                        </button>
                </div>
            </ion-col>
            <ion-col col-6>
                <div class="item-customizado">
                    <button no-lines ion-item (click)="selecioneImagem()"> 
                                            <ion-icon  color="tema" item-start name="add-circle"></ion-icon>Adicionar
                                        </button>
                </div>
            </ion-col>
        </ion-row>
        <input type="file" #fileInput style="display: none;" accept="image/*" (change)="aoEscolherImagem($event)">
        <ion-slides style="padding:5px;" #slides pager="true">
            <ion-slide *ngFor="let imagemCatalogo of imagensCatalogo;let i = index" autoplay="4000" speed="2000" effect="slide" loop="true" paginationType="fraction" pager="true">
                <img *ngIf="!imagemCatalogo.Imagem" class="imagem-catalogo" [src]="empresaLojaProvider.obtenhaImagemCatalogo(imagemCatalogo.IdImagem)" alt="">
                <img *ngIf="imagemCatalogo.Imagem" class="imagem-catalogo" [src]="sanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,' + imagemCatalogo.Imagem)" alt="">
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
<ion-footer>
    <ion-row class="footer-botoes">
        <ion-col text-center>
            <button color="tema" no-lines ion-item (click)="voltar()"> Voltar </button>
        </ion-col>
        <ion-col text-center>
            <button color="tema" no-lines ion-item (click)="salvar()"> Salvar </button>
        </ion-col>
    </ion-row>
</ion-footer>