page-conta-pessoa {
    .profile-image {
        margin: 0 auto;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: #eee;
        .image-wrapper {
            font-size: 3em;
            text-align: center;
            color: rgb(196, 196, 196);
            top: 23px;
            position: relative;
            height: 95px;
            width: 95px
        }
        .image {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            height: 95px;
            margin: 2px;
            width: 95px;
        }
    }
    .imagem-background {
        height: 50px;
        width: 100%;
    }
}