page-login-pessoa {
    .form-login {
        height: 100%;
        width: 100%;
        position: relative;
        background-color: white;
        .box {
            position: absolute;
            background-color: transparent;
            top: 30%;
            left: 10%;
            width: 80%;
            padding: 10px;
            border-radius: 10px;
        }
    }
}