$font-path: "../assets/fonts";
$app-direction: ltr;
$tema:#fcc000;
$colors: ( primary: #488aff, tema:#fcc000, secondary: #32db64, danger: #f53d3d, light: #fff, dark: #222);
@import "ionic.theme.default";
@import "noto-sans";
@import "ionic.globals";
@import "roboto";
@import "ionic.ionicons";
$tabs-md-tab-icon-color-active:#fcc000 !important;