$font-path: "../assets/fonts";
$app-direction: ltr;
$tema:#fcc000;
$primary:#488aff;
$danger:#f53d3d;
$colors: ( primary: #fcc000, tema:#fcc000, secondary: #32db64, danger: #f53d3d, light: #fff, gray:#d1d1d1, dark: #222);
@import "ionic.globals";
@import "ionic.theme.default";
@import "noto-sans";
@import "roboto";
@import "ionic.ionicons";
@font-face {
    font-family: 'Lato';
    font-style: bold;
    font-weight: 700;
    src: url('../assets/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    src: url('../assets/fonts/Roboto-Bold.ttf');
}

$tabs-md-tab-icon-color-active:#fcc000 !important;
$tabs-ios-tab-icon-color-active:#fcc000 !important;
$spinner-ios-circles-color:#fcc000 !important;
$spinner-md-circles-color:#fcc000 !important;
$tabs-md-tab-icon-color:rgba(0,
0,
0,
0.7) !important;
$tabs-ios-tab-icon-color:rgba(0,
0,
0,
0.7) !important