// FONTES
h2,
h3,
h1,
.item-divider .label {
    color: #666666 !important;
    font-family: 'Lato', sans-serif !important;
}

p {
    font-family: 'Roboto', sans-serif !important;
    color: #666666 !important;
}

button {
    .label {
        font-family: 'Roboto', sans-serif !important;
        font-size: 1.8rem !important;
    }
    .icon {
        font-size: 3rem !important;
        color: #424242;
    }
    .item {
        height: 70px !important;
    }
}

.item-input {
    font-size: 2.0rem;
}

.item-select .label {
    font-size: 2rem;
}

.card-title,
.card,
.label,
.titulo {
    color: #424242;
}

.content,
.filtro {
    background-color: #f2f4f8;
}

.warning {
    color: $tema;
}

.danger {
    color: $danger !important;
}

.header::after {
    transform: rotate(180deg) !important;
    bottom: 0px !important;
}

.qrCodeView {
    background: transparent !important;
}

.toolbar-background {
    background: $tema !important;
}

.cards {
    .item-inner {
        background-image: none !important;
        padding-right: 0px !important;
    }
    .icone {
        margin: 0 auto;
        display: block;
        padding-bottom: 4px;
    }
    margin: 5px;
    background-color: white !important;
    box-shadow: 0 2px 2px 0 rgba(150, 150, 150, 0.14),
    0 3px 1px -2px rgba(150, 150, 150, 0.2),
    0 1px 5px 0 rgba(150, 150, 150, 0.12);
}

.item-divider {
    border-bottom: none;
    background-color: white !important;
}

.scroll-content {
    padding-bottom: 0 !important;
    overflow: auto;
}

.popover-informacoes {
    .popover-content {
        box-shadow: 0px 0px 3px 2px rgb(219, 219, 219);
        background-color: $tema;
        overflow: auto;
        color: white;
        text-align: center;
        p {
            font-size: 1.2em;
            padding: 5px;
        }
    }
}

.swiper-slide {
    overflow: auto !important;
}

icone-informacao {
    z-index: 1;
}

ion-avatar {
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background-color: white;
}

ion-select {
    max-width: 100% !important;
}

ion-icon {
    &[class*="custom"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    &[class*="md-custom-carteira"] {
        mask-image: url(../assets/svg/carteira.svg);
    }
    &[class*="ios-custom-carteira"] {
        mask-image: url(../assets/svg/carteira.svg);
    }
}

.popover-shadow {
    ion-backdrop {
        opacity: 0.6;
    }
}

.popover-avaliacao {
    min-height: 300px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-height: 500px) {
    ion-fab {
        display: none !important;
    }
    .scroll-content {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.botao {
    margin: 10px auto;
    &.facebook {
        background-color: #3b5998;
        color: white;
        ion-icon {
            margin-right: 10px;
        }
    }
}

ion-header {
    .item {
        background: transparent !important;
    }
}

.item-customizado {
    background-color: white;
    margin: 5px 0 5px 0;
}

.card,
.item-customizado {
    margin-bottom: 2px;
    // box-shadow: 0 2px 2px 0 rgba(150, 150, 150, 0.14), 0 3px 1px -2px rgba(150, 150, 150, 0.2), 0 1px 5px 0 rgba(150, 150, 150, 0.12);
}

.titulo {
    text-align: center;
    padding: 10px;
}

.toolbar-content {
    ion-icon {
        color: #424242 !important;
        margin: 0 5px 0 20px !important;
    }
}

.grid-botoes {
    .col {
        padding: 0px !important;
    }
}