page-perfil-pessoa {
    .item-input {
        font-size: 2.0rem;
    }
    .profile {
        .thumbnail {
            width: 124px;
            height: 124px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            border-radius: 100%;
            border: 2px solid #f2f4f8;
        }
    }
}