<ion-content padding>
    <input type="file" #fileInput style="visibility: hidden; height: 0px" accept="image/*" (change)="aoEscolherImagem($event)">

    <form *ngIf="!pessoaRedeSocial" [formGroup]="form" (submit)="cadastre()">
        <div class="profile-image" (click)="selecioneImagem()">
            <div class="image-wrapper" *ngIf="!this.form.controls.profilePic.value">
                <ion-icon name="images"></ion-icon>
            </div>
            <div class="image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
        </div>

        <ion-list>
            <ion-item>
                <ion-label floating>
                    Nome
                </ion-label>
                <ion-input type="text" [(ngModel)]="pessoa.Nome" formControlName="nome"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>
                    Email
                </ion-label>
                <ion-input type="email" [(ngModel)]="pessoa.Email" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>
                    Senha
                </ion-label>
                <ion-input type="password" [(ngModel)]="pessoa.Senha" formControlName="senha"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>
                    Confirme a senha
                </ion-label>
                <ion-input type="password" [(ngModel)]="confirmacaoDaSenha" formControlName="confirmacaoDaSenha"></ion-input>
            </ion-item>
        </ion-list>
    </form>

    <form *ngIf="pessoaRedeSocial" [formGroup]="form2">
        <div class="profile-image" (click)="selecioneImagem()">
            <div class="image-wrapper" *ngIf="!pessoaRedeSocial.Foto">
                <ion-icon name="images"></ion-icon>
            </div>
            <div class="image" *ngIf="pessoaRedeSocial.Foto" [style.backgroundImage]="getProfileImageStyle()"></div>
        </div>
        <ion-list>
            <ion-item>
                <ion-label floating>
                    Nome
                </ion-label>
                <ion-input type="text" [(ngModel)]="pessoaRedeSocial.Nome" formControlName="nome"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>
                    Email
                </ion-label>
                <ion-input type="email" [(ngModel)]="pessoaRedeSocial.Email" formControlName="email"></ion-input>
            </ion-item>
        </ion-list>
    </form>

    <button *ngIf="pessoaRedeSocial" class="botao" ion-button color="primary" full (click)="cadastreRedeSocial()">Cadastrar</button>
    <button *ngIf="!pessoaRedeSocial" class="botao" ion-button color="primary" full (click)="cadastre()">Cadastrar</button>
</ion-content>