<ion-content padding>
    <input type="file" #fileInput style="visibility: hidden; height: 0px" accept="image/*" (change)="aoEscolherImagem($event)">

    <div *ngIf="!pessoaRedeSocial" (submit)="cadastre()">
        <div class="profile-image" (click)="selecioneImagem()">
            <div class="image-wrapper" *ngIf="!profilePic">
                <ion-icon name="images"></ion-icon>
            </div>
            <div class="image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="profilePic"></div>
        </div>

        <ion-list>
            <ion-item>
                <ion-label floating>
                    Nome
                </ion-label>
                <ion-input type="text" [(ngModel)]="pessoa.Nome" name="nome"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>
                    Email
                </ion-label>
                <ion-input type="email" [(ngModel)]="pessoa.Email" name="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>
                    Senha
                </ion-label>
                <ion-input type="password" [(ngModel)]="pessoa.Senha" name="senha1"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>
                    Confirme a senha
                </ion-label>
                <ion-input type="password" [(ngModel)]="confirmacaoDaSenha" name="senha2"></ion-input>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="pessoaRedeSocial" (submit)="cadastreRedeSocial()">
        <div class="profile-image" (click)="selecioneImagem()">
            <div class="image-wrapper" *ngIf="!profilePic">
                <ion-icon name="images"></ion-icon>
            </div>
            <div class="image" *ngIf="profilePic" [style.backgroundImage]="getProfileImageStyle()"></div>
        </div>
        <ion-list>
            <ion-item>
                <ion-label floating>
                    Nome
                </ion-label>
                <ion-input type="text" [(ngModel)]="pessoaRedeSocial.Nome" name="nome-social"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>
                    Email
                </ion-label>
                <ion-input type="email" [(ngModel)]="pessoaRedeSocial.Email" name="email-social"></ion-input>
            </ion-item>
        </ion-list>
    </div>
</ion-content>


<ion-footer>
    <ion-row class="footer-botoes">
        <ion-col text-center>
            <button color="tema" no-lines ion-item (click)="voltar()">Voltar</button>
        </ion-col>
        <ion-col text-center>
            <button *ngIf="pessoaRedeSocial" color="tema" no-lines ion-item (click)="cadastreRedeSocial()"> Cadastrar </button>
            <button *ngIf="!pessoaRedeSocial" color="tema" no-lines ion-item (click)="cadastre()"> Cadastrar </button>
        </ion-col>
    </ion-row>
</ion-footer>