page-cadastro-empresa {
    ion-slides {
        height: 100vh;
    }
    .list {
        margin-top: 10px !important;
        margin-bottom: 0 !important;
    }
    .profile-image {
        margin: auto;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: #eee;
        .image-wrapper {
            font-size: 3em;
            text-align: center;
            color: rgb(196, 196, 196);
            top: 23px;
            position: relative;
            height: 95px;
            width: 95px
        }
        .image {
            box-shadow: 0 0 1px 1px #bcbcbc;
            background-size: contain;
            background-position: center;
            border-radius: 50%;
            height: 97px;
            margin: 2px;
            width: 97px;
        }
    }
    .icone-info {
        color: $primary;
        margin: 10px !important;
        z-index: 1;
    }
}