<ion-content>
    <form [formGroup]="form" (submit)="cadastre()">

        <input type="file" #fileInput style="visibility: hidden; height: 0px" accept="image/*" (change)="aoEscolherImagem($event)">

        <div class="profile-image-wrapper" (click)="selecioneImagem()">
            <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
                <ion-icon name="add"></ion-icon>
            </div>
            <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
        </div>

        <ion-list>
            <ion-item>
                <ion-label fixed>Nome</ion-label>
                <ion-input type="text" [(ngModel)]="empresa.Nome" formControlName="nome"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Descricao</ion-label>
                <ion-input type="text" [(ngModel)]="empresa.Descricao" formControlName="descricao"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Email</ion-label>
                <ion-input type="email" [(ngModel)]="empresa.Email" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Senha</ion-label>
                <ion-input type="password" [(ngModel)]="empresa.Senha" formControlName="senha"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Cpf/Cnpj</ion-label>
                <ion-input type="number" [(ngModel)]="empresa.Cnpj" formControlName="cpfcnpj"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Telefone</ion-label>
                <ion-input type="number" [(ngModel)]="empresa.Telefone" formControlName="telefone"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Telefone 2</ion-label>
                <ion-input type="number" [(ngModel)]="empresa.Telefone2" formControlName="telefone2"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Resumo</ion-label>
                <ion-input type="text" [(ngModel)]="empresa.Resumo" formControlName="resumo"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Desconto por compartilhamento</ion-label>
                <ion-input type="text" [(ngModel)]="empresa.DescontoCompartilhamento" formControlName="descontoCompartilhamento"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Valor dos pontos</ion-label>
                <ion-input type="text" [(ngModel)]="empresa.ValorPontos" formControlName="valorPontos"></ion-input>
            </ion-item>
            <div padding>
                <button ion-button color="primary" block>Salvar</button>
            </div>
        </ion-list>
    </form>
</ion-content>