page-cadastro-empresa {
    .content {
        background-color: white;
    }
    .item-input {
        font-size: 2.0rem;
    }
    .profile-image {
        margin: auto;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: #eee;
        .image-wrapper {
            font-size: 3em;
            text-align: center;
            color: rgb(196, 196, 196);
            top: 23px;
            position: relative;
            height: 95px;
            width: 95px
        }
        .image {
            box-shadow: 0 0 1px 1px #bcbcbc;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            height: 97px;
            margin: 2px;
            width: 97px;
        }
    }
}